@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  outline: none;
}

/* Container Style */

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(108deg, #e0e0f9 0%, #dadaff 100%);

}

/* Card Styles */

.card{
  background-color: #ffffff;
  padding: 24px;
  border-radius: 10px;
}

/* Header Styles */
h4{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #28152f;
}

/* Input field styles */
input{
  width: 300px;
  border-radius: 6px;
  border: 1.5px solid #dee1ea;
  padding: 12px 20px;
}

/* input field focus style */
input:focus{
  border-color: #506cff;
}

/* countdown text style */
.countdown-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0px;
}

/* countown teext paragraph styles*/
.countdown-text > p {
  font-size: 13px;
  font-weight: 400;
  color: #2d1d35;
}

/* Countdown text button styles */
.countdown-text > button{
  background-color: #fff;
  border: none;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.submit-btn{
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  background: linear-gradient(91deg, #9076fc 0%, #6950ff 100%);
  transition: all ease 0.6s;
}

.submit-btn:hover{
  color: #6950ff;
  background: #e6e0ffbf; 
}